header{
    margin: 0 auto;
    margin-top:30px;
    margin-bottom:20px;
    border-left: 4px red solid;
    background-color:lightgray;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    width:550px;
    font-size:20px;
    font-weight: bold;
}

form{
    background-color: gainsboro;
    margin:0 auto;
    width: 550px;
    border-radius:15px;
    border: lightgray solid;  
}

form div{
    padding:10px;
}


.text, textarea, .dropdown{
    border:1px lightgray solid;
    padding:5px;
    color:#999;
    background:#fff;
}

.submit{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color:darkgray;
    border-radius: 5px;
    width:100px;
}
